<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/363e14a9-63db-4957-ab0d-0fe4ff1999fe/resourceGroups/set_group/providers/Microsoft.Web/sites/habitsmentorset</ResourceId>
    <ResourceGroup>set_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://habitsmentorset.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://habitsmentorset.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$habitsmentorset</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>